User asked about their spending. Here are their transactions:
{{ data_context }}
Provide a grounded summary. Cite specific figures only from this data. State 'I don't have that data yet' for anything not covered.